#first-body{
    width: 100%;
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto auto;
    -webkit-text-stroke: 2px black;
    color:#fdfbf4;
    opacity: 10%;
    letter-spacing: 100px;
    font-style: italic;
    font-size: 10rem;
}

.word-1{
    opacity: 0;
    grid-column-start: 2;
}

.word-2{
    opacity: 0;
    grid-column-start: 3;
}

.word-3{
    opacity: 0;
    grid-column-start: 4;
}

.word-4{
    opacity: 0;
    grid-column-start: 5;
}

.word-5{
    opacity: 0;
    grid-column-start: 6;
}

.word-6{
    opacity: 0;
    grid-column-start: 7;
}

.word-7{
    opacity: 0;
    grid-column-start:8;
}

.fadeIn {
    opacity: 1;
    animation:in 2s ;
    animation-fill-mode: forwards;
}

@keyframes in {
    from {
        transform: translateY(-70%);
        
    }
    to{
        transform: translateY(0%);
        
    }
}

