#second-menu {
    position: relative;
    height: 100vh;
}

#slider-green-background {
    position: absolute;
    background-color: #acedbe;
    z-index: 1;
    height: 100%;
    width: 0%;
    animation: slider 2s cubic-bezier(0.4, 0, 0.2, 1);
}

#slider-blue-background {
    position: absolute;
    top: 0;
    background-color: #a5d3ee;
    height: 100%;
    width: 60%;
}

#second-slider-green-background {
    position: absolute;
    top: 0;
    background-color: #acedbe;
    height: 100%;
    width: 60%;
}

#second-slider-blue-background {
    position: absolute;
    top: 0;
    background-color: #a5d3ee;
    height: 100%;
    width: 0%;
    animation: slider 2s cubic-bezier(0.4, 0, 0.2, 1);
}

#first-slider-word-1-letter {
    animation: slidein 0.5s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
    opacity: 0;
}

#first-slider-word-2-letter {
    animation: slidein 0.75s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
    opacity: 0;
}

#first-slider-word-3-letter {
    animation: slidein 1s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
    opacity: 0;
}

#first-slider-word-4-letter {
    animation: slidein 1.25s;
    padding-left: 0.5rem;
    animation-delay: 1s;
    animation-fill-mode: forwards;
    opacity: 0;
}

#first-slider-word-5-letter {
    animation: slidein 1.5s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
    opacity: 0;
}

#first-slider-word-6-letter {
    animation: slidein 1.75s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
    opacity: 0;
}

#first-slider-word-7-letter {
    animation: slidein 2s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
    opacity: 0;
}

#first-slider-word-8-letter {
    animation: slidein 2.25s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
    opacity: 0;
}

#first-slider-word-1-letter-out {
    animation: slideout 0.5s;
    opacity: 0;
}

#first-slider-word-2-letter-out {
    animation: slideout 0.75s;
    opacity: 0;
}

#first-slider-word-3-letter-out {
    animation: slideout 1s;
    opacity: 0;
}

#first-slider-word-4-letter-out {
    animation: slideout 1.25s;
    padding-left: 0.5rem;
    opacity: 0;
}

#first-slider-word-5-letter-out {
    animation: slideout 1.5s;
    opacity: 0;
}

#first-slider-word-6-letter-out {
    animation: slideout 1.75s;
    opacity: 0;
}

#first-slider-word-7-letter-out {
    animation: slideout 2s;
    opacity: 0;
}

#first-slider-word-8-letter-out {
    animation: slideout 2.25s;
    opacity: 0;
}

#first-slider-first-word {
    position: absolute;
    z-index: 9;
    top: 14rem;
    left: 8rem;
    display: flex;
    flex-direction: row;
    color: #fdfbf3;
    font-size: larger;
    font-weight: 700;
}

#second-slider-first-word {
    position: absolute;
    z-index: 9;
    top: 17rem;
    left: 8rem;
    display: flex;
    flex-direction: row;
    color: #fdfbf3;
    font-size: larger;
    font-weight: 700;
}

#second-slider-word-1-letter {
    animation: slidein 0.5s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
    opacity: 0;
}

#second-slider-word-2-letter {
    animation: slidein 0.75s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
    opacity: 0;
}

#second-slider-word-3-letter {
    animation: slidein 1s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
    opacity: 0;
}

#second-slider-word-1-letter-out {
    animation: slideout 0.5s;
    opacity: 0;
}

#second-slider-word-2-letter-out {
    animation: slideout 0.5s;
    opacity: 0;
}

#second-slider-word-3-letter-out {
    animation: slideout 0.5s;
    opacity: 0;
}

#first-slider-second-word {
    display: flex;
    flex-direction: row;
    position: absolute;
    z-index: 9;
    top: 5rem;
    left: 24rem;
    color: #fdfbf3;
    font-size: 7rem;
    font-weight: 500;
}

#first-slider-third-word {
    display: flex;
    flex-direction: row;
    position: absolute;
    z-index: 9;
    top: 15rem;
    left: 8rem;
    color: #fdfbf3;
    font-size: 7rem;
    font-weight: 500;
}

#first-slider-forth-word {
    display: flex;
    flex-direction: row;
    position: absolute;
    z-index: 9;
    top: 25rem;
    left: 8rem;
    color: #fdfbf3;
    font-size: 7rem;
    font-weight: 500;
}

#first-slide-in-word-underline {
    position: absolute;
    height: 0.25rem;
    top: 17rem;
    left: 8rem;
    width: 0rem;
    z-index: 9;
    background-color: #fdfbf3;
    animation: first_underline_in 2s cubic-bezier(0.4, 0, 0.2, 1);
    animation-delay: 1s;
    animation-fill-mode: forwards;
}

#second-slide-in-word-underline {
    position: absolute;
    height: 0.25rem;
    top: 20rem;
    left: 8rem;
    width: 0rem;
    z-index: 9;
    background-color: #fdfbf3;
    animation: first_underline_in 2s cubic-bezier(0.4, 0, 0.2, 1);
    animation-delay: 1s;
    animation-fill-mode: forwards;
}

#first-slide-out-word-underline {
    position: absolute;
    height: 0.25rem;
    top: 17rem;
    left: 8rem;
    width: 0rem;
    z-index: 9;
    background-color: #fdfbf3;
    animation: first_underline_out 2s cubic-bezier(0.4, 0, 0.2, 1);
}

#second-slide-out-word-underline {
    position: absolute;
    height: 0.25rem;
    top: 20rem;
    left: 8rem;
    width: 0rem;
    z-index: 9;
    background-color: #fdfbf3;
    animation: first_underline_out 2s cubic-bezier(0.4, 0, 0.2, 1);
}

#slider-first-image {
    position: absolute;
    top: 10rem;
    left: 18rem;
    z-index: 1;
    height: 40rem;
    width: 0%;
    animation: slider 2s cubic-bezier(0.4, 0, 0.2, 1);
}

#slider-second-image {
    position: absolute;
    height: 40rem;
    width: 60%;
    top: 10rem;
    left: 18rem;
}

#second-slider-first-image {
    position: absolute;
    height: 40rem;
    width: 60%;
    top: 10rem;
    left: 18rem;
}

#second-slider-second-image {
    position: absolute;
    height: 40rem;
    top: 10rem;
    left: 18rem;
    width: 0%;
    animation: slider 2s cubic-bezier(0.4, 0, 0.2, 1);
}

#slider-green-background-on-image {
    position: absolute;
    background-color: #acedbe;
    top: 47rem;
    left: 72rem;
    z-index: 2;
    height: 3rem;
    width: 0%;
    animation: background_on_image 0.4s cubic-bezier(0.4, 0, 0.2, 1);
}

#slider-blue-background-on-image {
    position: absolute;
    top: 47rem;
    left: 72rem;
    z-index: 1;
    background-color: #a5d3ee;
    height: 3rem;
    width: 18rem;
}

#second-slider-green-background-on-image {
    position: absolute;
    top: 47rem;
    left: 72rem;
    background-color: #acedbe;
    z-index: 1;
    height: 3rem;
    width: 18rem;
}

#second-slider-blue-background-on-image {
    position: absolute;
    top: 47rem;
    left: 72rem;
    background-color: #a5d3ee;
    z-index: 2;
    height: 3rem;
    width: 0%;
    animation: background_on_image 0.4s cubic-bezier(0.4, 0, 0.2, 1);
}

#first-slider-second-word-1-letter {
    animation: second_word_in 0.75s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
    opacity: 0;
}

#first-slider-second-word-2-letter {
    animation: second_word_in 1s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
    opacity: 0;
}

#first-slider-second-word-3-letter {
    animation: second_word_in 1.25s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
    opacity: 0;
}

#first-slider-second-word-4-letter {
    animation: second_word_in 1.5s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
    opacity: 0;
}

#first-slider-second-word-5-letter {
    animation: second_word_in 1.75s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
    opacity: 0;
}

#first-slider-second-word-6-letter {
    animation: second_word_in 2s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
    opacity: 0;
}

#first-slider-second-word-7-letter {
    animation: second_word_in 2.25s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
    opacity: 0;
}

#first-slider-second-word-8-letter {
    animation: second_word_in 2.5s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
    opacity: 0;
}

#first-slider-second-word-1-letter-out {
    animation: slideout 0.5s;
    opacity: 0;
}

#first-slider-second-word-2-letter-out {
    animation: slideout 0.75s;
    opacity: 0;
}

#first-slider-second-word-3-letter-out {
    animation: slideout 1s;
    opacity: 0;
}

#first-slider-second-word-4-letter-out {
    animation: slideout 1.25s;
    opacity: 0;
}

#first-slider-second-word-5-letter-out {
    animation: slideout 1.5s;
    opacity: 0;
}

#first-slider-second-word-6-letter-out {
    animation: slideout 1.75s;
    opacity: 0;
}

#first-slider-second-word-7-letter-out {
    animation: slideout 2s;
    opacity: 0;
}

#first-slider-second-word-8-letter-out {
    animation: slideout 2.25s;
    opacity: 0;
}

#first-slider-third-word-1-letter {
    animation: second_word_in 0.2s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
    opacity: 0;
}

#first-slider-third-word-2-letter {
    animation: second_word_in 0.3s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
    opacity: 0;
}

#first-slider-third-word-3-letter {
    animation: second_word_in 0.4s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
    opacity: 0;
}

#first-slider-third-word-4-letter {
    animation: second_word_in 0.5s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
    opacity: 0;
}

#first-slider-third-word-5-letter {
    animation: second_word_in 0.6s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
    opacity: 0;
}

#first-slider-third-word-6-letter {
    animation: second_word_in 0.7s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
    opacity: 0;
}

#first-slider-third-word-7-letter {
    animation: second_word_in 0.85s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
    opacity: 0;
}

#first-slider-third-word-8-letter {
    animation: second_word_in 0.9s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
    opacity: 0;
}

#first-slider-third-word-9-letter {
    animation: second_word_in 1s;
    padding-left: 3rem;
    padding-right: 3rem;
    animation-delay: 1s;
    animation-fill-mode: forwards;
    opacity: 0;
}

#first-slider-third-word-10-letter {
    animation: second_word_in 1.1s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
    opacity: 0;
}

#first-slider-third-word-11-letter {
    animation: second_word_in 1.2s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
    opacity: 0;
}

#first-slider-third-word-12-letter {
    animation: second_word_in 1.3s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
    opacity: 0;
}

#first-slider-third-word-13-letter {
    animation: second_word_in 1.4s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
    opacity: 0;
}

#first-slider-third-word-14-letter {
    animation: second_word_in 1.5s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
    opacity: 0;
}

#first-slider-third-word-15-letter {
    animation: second_word_in 1.6s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
    opacity: 0;
}

#first-slider-third-word-16-letter {
    animation: second_word_in 1.7s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
    opacity: 0;
}

#first-slider-third-word-17-letter {
    animation: second_word_in 1.8s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
    opacity: 0;
}

#first-slider-third-word-18-letter {
    animation: second_word_in 1.9s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
    opacity: 0;
}

#first-slider-third-word-19-letter {
    animation: second_word_in 2s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
    opacity: 0;
}

#first-slider-third-word-1-letter-out {
    animation: slideout 0.2s;
    opacity: 0;
}

#first-slider-third-word-2-letter-out {
    animation: slideout 0.3s;
    opacity: 0;
}

#first-slider-third-word-3-letter-out {
    animation: slideout 0.4s;
    opacity: 0;
}

#first-slider-third-word-4-letter-out {
    animation: slideout 0.5s;
    opacity: 0;
}

#first-slider-third-word-5-letter-out {
    animation: slideout 0.6s;
    opacity: 0;
}

#first-slider-third-word-6-letter-out {
    animation: slideout 0.7s;
    opacity: 0;
}

#first-slider-third-word-7-letter-out {
    animation: slideout 0.8s;
    opacity: 0;
}

#first-slider-third-word-8-letter-out {
    animation: slideout 0.9s;
    opacity: 0;
}

#first-slider-third-word-9-letter-out {
    animation: slideout 1s;
    opacity: 0;
    padding-left: 3rem;
    padding-right: 3rem;
}

#first-slider-third-word-10-letter-out {
    animation: slideout 1.1s;
    opacity: 0;
}

#first-slider-third-word-11-letter-out {
    animation: slideout 1.2s;
    opacity: 0;
}

#first-slider-third-word-12-letter-out {
    animation: slideout 1.3s;
    opacity: 0;
}

#first-slider-third-word-13-letter-out {
    animation: slideout 1.4s;
    opacity: 0;
}

#first-slider-third-word-14-letter-out {
    animation: slideout 1.5s;
    opacity: 0;
}

#first-slider-third-word-15-letter-out {
    animation: slideout 1.6s;
    opacity: 0;
}

#first-slider-third-word-16-letter-out {
    animation: slideout 1.7s;
    opacity: 0;
}

#first-slider-third-word-17-letter-out {
    animation: slideout 1.8s;
    opacity: 0;
}

#first-slider-third-word-18-letter-out {
    animation: slideout 1.9s;
    opacity: 0;
}

#first-slider-third-word-19-letter-out {
    animation: slideout 2s;
    opacity: 0;
}

#first-slider-forth-word-1-letter {
    animation: second_word_in 0.2s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
    opacity: 0;
}

#first-slider-forth-word-2-letter {
    animation: second_word_in 0.3s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
    opacity: 0;
}

#first-slider-forth-word-3-letter {
    animation: second_word_in 0.4s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
    opacity: 0;
}

#first-slider-forth-word-4-letter {
    animation: second_word_in 0.5s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
    opacity: 0;
}

#first-slider-forth-word-5-letter {
    animation: second_word_in 0.6s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
    opacity: 0;
}

#first-slider-forth-word-6-letter {
    animation: second_word_in 0.7s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
    opacity: 0;
}

#first-slider-forth-word-7-letter {
    animation: second_word_in 0.85s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
    opacity: 0;
}

#first-slider-forth-word-8-letter {
    animation: second_word_in 0.9s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
    opacity: 0;
}

#first-slider-forth-word-9-letter {
    animation: second_word_in 1s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
    opacity: 0;
    padding-left: 3rem;
    padding-right: 3rem;
}

#first-slider-forth-word-10-letter {
    animation: second_word_in 1.1s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
    opacity: 0;
}

#first-slider-forth-word-11-letter {
    animation: second_word_in 1.2s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
    opacity: 0;
}

#first-slider-forth-word-12-letter {
    animation: second_word_in 1.3s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
    opacity: 0;
}

#first-slider-forth-word-13-letter {
    animation: second_word_in 1.4s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
    opacity: 0;
}

#first-slider-forth-word-1-letter-out {
    animation: slideout 0.2s;
    opacity: 0;
}

#first-slider-forth-word-2-letter-out {
    animation: slideout 0.3s;
    opacity: 0;
}

#first-slider-forth-word-3-letter-out {
    animation: slideout 0.4s;
    opacity: 0;
}

#first-slider-forth-word-4-letter-out {
    animation: slideout 0.5s;
    opacity: 0;
}

#first-slider-forth-word-5-letter-out {
    animation: slideout 0.6s;
    opacity: 0;
}

#first-slider-forth-word-6-letter-out {
    animation: slideout 0.7s;
    opacity: 0;
}

#first-slider-forth-word-7-letter-out {
    animation: slideout 0.8s;
    opacity: 0;
}

#first-slider-forth-word-8-letter-out {
    animation: slideout 0.9s;
    opacity: 0;
}

#first-slider-forth-word-9-letter-out {
    animation: slideout 1s;
    opacity: 0;
    padding-left: 3rem;
    padding-right: 3rem;
}

#first-slider-forth-word-10-letter-out {
    animation: slideout 1.1s;
    opacity: 0;
}

#first-slider-forth-word-11-letter-out {
    animation: slideout 1.2s;
    opacity: 0;
}

#first-slider-forth-word-12-letter-out {
    animation: slideout 1.3s;
    opacity: 0;
}

#first-slider-forth-word-13-letter-out {
    animation: slideout 1.4s;
    opacity: 0;
}

#second-slider-second-word {
    display: flex;
    flex-direction: row;
    position: absolute;
    z-index: 9;
    top: 15rem;
    left: 24rem;
    color: #fdfbf3;
    font-size: 7rem;
    font-weight: 500;
}

#second-slider-third-word {
    display: flex;
    flex-direction: row;
    position: absolute;
    z-index: 9;
    top: 24rem;
    left: 8rem;
    color: #fdfbf3;
    font-size: 7rem;
    font-weight: 500;
}

#second-slider-second-word-1-letter {
    animation: second_word_in 0.2s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
    opacity: 0;
}

#second-slider-second-word-2-letter {
    animation: second_word_in 0.3s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
    opacity: 0;
}

#second-slider-second-word-3-letter {
    animation: second_word_in 0.4s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
    opacity: 0;
}

#second-slider-second-word-4-letter {
    animation: second_word_in 0.5s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
    opacity: 0;
}

#second-slider-second-word-5-letter {
    animation: second_word_in 0.6s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
    opacity: 0;
}

#second-slider-second-word-6-letter {
    animation: second_word_in 0.7s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
    opacity: 0;
}

#second-slider-second-word-7-letter {
    animation: second_word_in 0.8s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
    opacity: 0;
}

#second-slider-second-word-8-letter {
    animation: second_word_in 0.9s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
    opacity: 0;
}

#second-slider-second-word-9-letter {
    animation: second_word_in 1s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
    opacity: 0;
}

#second-slider-second-word-10-letter {
    animation: second_word_in 1.2s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
    opacity: 0;
}

#second-slider-second-word-11-letter {
    animation: second_word_in 1.3s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
    opacity: 0;
}

#second-slider-second-word-1-letter-out {
    animation: slideout 0.2s;
    opacity: 0;
}

#second-slider-second-word-2-letter-out {
    animation: slideout 0.3s;
    opacity: 0;
}

#second-slider-second-word-3-letter-out {
    animation: slideout 0.4s;
    opacity: 0;
}

#second-slider-second-word-4-letter-out {
    animation: slideout 0.5s;
    opacity: 0;
}

#second-slider-second-word-5-letter-out {
    animation: slideout 0.6s;
    opacity: 0;
}

#second-slider-second-word-6-letter-out {
    animation: slideout 0.7s;
    opacity: 0;
}

#second-slider-second-word-7-letter-out {
    animation: slideout 0.8s;
    opacity: 0;
}

#second-slider-second-word-8-letter-out {
    animation: slideout 0.9s;
    opacity: 0;
}

#second-slider-second-word-9-letter-out {
    animation: slideout 1s;

    opacity: 0;
}

#second-slider-second-word-10-letter-out {
    animation: slideout 1.1s;
    opacity: 0;
}

#second-slider-second-word-11-letter-out {
    animation: slideout 1.2s;
    opacity: 0;
}

#second-slider-third-word-1-letter {
    animation: second_word_in 0.2s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
    opacity: 0;
}

#second-slider-third-word-2-letter {
    animation: second_word_in 0.3s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
    opacity: 0;
}

#second-slider-third-word-3-letter {
    animation: second_word_in 0.4s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
    opacity: 0;
}

#second-slider-third-word-4-letter {
    animation: second_word_in 0.5s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
    opacity: 0;
}

#second-slider-third-word-5-letter {
    animation: second_word_in 0.6s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
    opacity: 0;
    padding-right: 3rem;
}

#second-slider-third-word-6-letter {
    animation: second_word_in 0.7s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
    opacity: 0;
}

#second-slider-third-word-7-letter {
    animation: second_word_in 0.8s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
    opacity: 0;
}

#second-slider-third-word-8-letter {
    animation: second_word_in 0.9s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
    opacity: 0;
}

#second-slider-third-word-9-letter {
    animation: second_word_in 1s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
    opacity: 0;
}

#second-slider-third-word-10-letter {
    animation: second_word_in 1.1s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
    opacity: 0;
}

#second-slider-third-word-11-letter {
    animation: second_word_in 1.2s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
    opacity: 0;
}

#second-slider-third-word-12-letter {
    animation: second_word_in 1.3s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
    opacity: 0;
}

#second-slider-third-word-13-letter {
    animation: second_word_in 1.4s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
    opacity: 0;
}

#second-slider-third-word-14-letter {
    animation: second_word_in 1.5s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
    opacity: 0;
}

#second-slider-third-word-1-letter-out {
    animation: slideout 0.2s;
    opacity: 0;
}

#second-slider-third-word-2-letter-out {
    animation: slideout 0.3s;
    opacity: 0;
}

#second-slider-third-word-3-letter-out {
    animation: slideout 0.4s;
    opacity: 0;
}

#second-slider-third-word-4-letter-out {
    animation: slideout 0.5s;
    opacity: 0;
}

#second-slider-third-word-5-letter-out {
    animation: slideout 0.6s;
    padding-right: 3rem;
    opacity: 0;
}

#second-slider-third-word-6-letter-out {
    animation: slideout 0.7s;
    opacity: 0;
}

#second-slider-third-word-7-letter-out {
    animation: slideout 0.8s;
    opacity: 0;
}

#second-slider-third-word-8-letter-out {
    animation: slideout 0.9s;
    opacity: 0;
}

#second-slider-third-word-9-letter-out {
    animation: slideout 1s;

    opacity: 0;
}

#second-slider-third-word-10-letter-out {
    animation: slideout 1.1s;
    opacity: 0;
}

#second-slider-third-word-11-letter-out {
    animation: slideout 1.2s;
    opacity: 0;
}

#second-slider-third-word-12-letter-out {
    animation: slideout 1.3s;
    opacity: 0;
}

#second-slider-third-word-13-letter-out {
    animation: slideout 1.4s;
    opacity: 0;
}

#second-slider-third-word-14-letter-out {
    animation: slideout 1.5s;
    opacity: 0;
}

#static-letter {
    position: absolute;
    right: 36rem;
    bottom: 9rem;
    display: flex;
    flex-direction: row;
    z-index: 13;
    font-weight: 700;
    font-size: large;
    font-style: italic;
}

#static-letter-1 {
    margin: 0.5rem;
}

#static-letter-2 {
    margin: 0.5rem;
}

#static-letter-3 {
    margin: 0.5rem;
}

#static-letter-4 {
    margin: 0.5rem;
    
}

#static-letter:hover>#static-letter-1 {
    animation: itacic_hover 0.5s;
    animation-fill-mode: forwards;
    animation-delay: 0.5s;
}

#static-letter:hover>#static-letter-2 {
    animation: itacic_hover 0.5s;
    animation-fill-mode: forwards;
    animation-delay: 0.75s;
}

#static-letter:hover>#static-letter-3 {
    animation: itacic_hover 0.5s;
    animation-fill-mode: forwards;
    animation-delay: 1s;
}

#static-letter:hover>#static-letter-4 {
    animation: itacic_hover 0.5s;
    animation-fill-mode: forwards;
    animation-delay: 1.25s;

}
/* 
#outline-word{
    height: 20rem;
    width: 80rem;
    display: flex;
    flex-direction: row;
    color: #a5d3ee;
    -webkit-text-stroke: 2px black;
    z-index: 40;
} */

@keyframes second_word_in {
    from {
        transform: translateY(70%);
        opacity: 0;
    }

    to {
        transform: translateY(0%);
        opacity: 100;

    }
}

@keyframes second_word_out {
    from {
        transform: translateY(0%);
        opacity: 100;
    }

    to {
        transform: translateY(70%);
        opacity: 0;

    }
}

@keyframes slidein {
    from {

        opacity: 0;
    }

    to {
        /* transform: translateY(0%); */
        opacity: 100;
    }
}

@keyframes slideout {
    from {

        opacity: 100;
    }

    to {

        opacity: 0;
    }
}

@keyframes slider {
    from {

        width: 60%;
    }

    to {

        width: 0;
    }
}

@keyframes first_underline_in {
    from {

        width: 0;
    }

    to {

        width: 13rem;
    }
}

@keyframes first_underline_out {
    from {

        width: 13rem;
    }

    to {

        width: 0;
    }
}

@keyframes background_on_image {
    from {

        width: 18rem;
    }

    to {

        width: 0;
    }
}

@keyframes itacic_hover {
    0% {

        transform: translateY(0%);
    }

    50% {
        transform: translateY(-30%);
    }

    100% {
        transform: translateY(00%);
    }
}
